* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgba(33, 150, 243, 0.2), rgba(33, 150, 243, 0.6))
}

main {
    display: flex;
    clear: both;
    margin: 0 5px;
}

.center-text {text-align: center;}