/*noinspection CssUnknownTarget*/
#logo {
    float: left;
    box-sizing: content-box;
    width: 92px;
    height: 100px;
    margin: 5px;
    padding: 20px;
    border: 3px solid black;
    background-color: white;
    background-image: url("images/eagle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 92px 100px;
}